.pagination .page-link {
    border: none;
    padding: 8px 16px; /* Adjust padding for button-like appearance */
    color red;
}

    .pagination .page-link.btn-primary {
        background-color: #007bff; /* Active link background color */
        color: #fff; /* Active link text color */
    }

    .pagination .page-link.btn-light {
        background-color: #f0f0f0; /* Inactive link background color */
        color: #333; /* Inactive link text color */
    }

    .pagination .page-link:hover {
        background-color: #0056b3; /* Hover background color */
        color: #fff; /* Hover text color */
    }
